@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Descope + Blazor OIDC Sample Application</h1>

To get started, make sure that your environment variables for the Issuer URL and Client Secret are set properly, and click the Login button in the sidebar to the left.
